body {
  background-color: #ffffff;
}
.footer-line {
  border-top: 2px solid #eaf1fd;
  margin: 0 243px;
}

.footer-bottom {
  padding: 75px;

  .nav-link {
    padding: 0px 1rem 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: right;
  }
}
.copyright {
  color: #5b6b88;
}

.me-auto {
  margin-right: 0 !important;
}

.terms {
  > a {
    font-size: 16px;
    color: #5b6b88 !important;

    &:not(:last-child) {
      border-right: 1px solid #5b6b88;
    }
  }
}
