.subscribeContainer {
  background: rgba(0, 82, 204, 0.2);
  width: 50vw;
  min-height: 100vh;
  padding-left: 200px;
  padding-top: 288px;

  .subscribeWrapper {
    width: 375px;

    .subscribeP {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1.5px;
      color: #5b6b88;
      text-transform: uppercase;
    }

    .subscribeH2 {
      font-weight: bold;
      font-size: 60px;
      line-height: 80px;
      color: #5b6b88;
    }

    .subscribeText {
      margin-top: 66px;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.15px;
      color: #5b6b88;
    }

    .btnLearn {
      height: 50px;
      width: 230px;
      border-radius: 8px;
      background-color: #0052cc;
      color: #ffffff;
      border: none;
    }
  }
}
