.navbar-wrapper {
  margin: 80px auto 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.social-media {
  > a {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
.nav-links {
  margin-left: 180px;
  a {
    &:not(:last-child) {
      margin-right: 30px;
    }
    font-size: 18px;
    font-family: roboto, arial, helvetica;
    font-weight: 400;
    line-height: 32px;
    color: #94a4c0 !important;
  }
}
